*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
 
}
html{
    font-family: 'Libre Franklin';
}

.i {
    text-align: center;
    line-height: 3rem;
}

.i input{
    text-align: center;
    width: 80%;
    height: 2.5rem;
    border-radius: 2rem;
    border: solid;
}
.i h2{
    margin: 50px 0px 20px 0px;
}

.i img{ 
    width: 80%;
    margin: 50px 20px 40px 20px;
}
.p {
    font-size: 1.5rem;
    font-weight: lighter;
    margin: 0px 0px -10px 0px;
    color: hsl(0, 0%, 59%);
    
}
.p strong{
    color: black;
}
.i button{
    background-color: hsl(223, 87%, 63%)
    ;
    color: white;
    width: 80%;
    height:2.5rem;
    border-radius: 2rem;
    border: none;
    
}

@media screen and (min-width:1400px)
{

.i img{
  
    width: 48vw;
    height: 45vh;
}

.i button{

    width: 20%;

}

.i input{ 
    width: 30%;
    }
}